* {
  margin: 0;
  padding: 0;
}

body {
  font-family: helvetica, sans serif;
  font-size: 16px;
}

#image {
  max-width: 100%;
  height: auto;
}

header {
  text-align: center;
  margin: 20px 0;
  background-color: black;
  color: #fff;
  padding: 20px;
  border-radius: 10px;
}

#main {
  margin: 0 auto;
  width: 80%
}

#img-div {
  margin: 20px 0;
}

#image {
  display: block;
}

figcaption {
  margin: 20px 0;
  text-align: center;
}

#about-heading {
  margin: 20px 0;
  text-align: center;
}

span {
  font-weight: 800;
}

ul {
  margin: 10px 0;
  list-style-type: circle;
}

#quote {
  margin: 20px 0;
}

#title {
  font-size: 1.3rem;
}

footer {
    text-align: center;
}